<!--patient/edit.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/edit.css">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
</head>

<body>
<h1>Edit Patient</h1>
<form th:action="@{/auth-patients/{id}/update(id=${patient.id})}" th:object="${patient}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>First Name: </label>
    <input type="text" th:field="*{firstName}"/>
    <br/>

    <label>Last Name: </label>
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <div>
        <label for="doctor">Doctor:</label>
        <select th:field="*{doctor.id}" id="doctor">
            <option value="">Select a doctor...</option>
            <option th:each="doctor : ${doctors}"
                    th:value="${doctor.id}"
                    th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"
                    th:selected="${doctor.id == patient.doctor.id}">
            </option>
        </select>
    </div>

    <label>Date of Birth: </label>
    <input type="date" th:field="*{dateOfBirth}"/>
    <br/>

    <label>Gender: </label>
    <select th:field="*{gender}">
        <option th:value="MALE">Male</option>
        <option th:value="FEMALE">Female</option>
        <option th:value="OTHER">Other</option>
    </select>
    <br/>

    <label>Address: </label>
    <input type="text" th:field="*{address}"/>
    <br/>

    <label>Phone Number: </label>
    <input type="text" th:field="*{phoneNumber}"/>
    <br/>

    <label>Email: </label>
    <input type="text" th:field="*{email}"/>
    <br/>

    <button type="submit">Save</button>
</form>

<div class="button-container">
    <a th:href="@{/auth-patients/list}" class="btn">Back to Patient List</a>
    <a th:href="@{/auth-index}" class="btn">Back to homepage</a>
</div>

<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
