<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" type="text/css" href="/css/list.css">
</head>
<body>
<h1>Patients List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Selected Doctor</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.doctor != null ? patient.doctor.firstName : ''}"></td>
        <td th:text="${patient.dateOfBirth}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phoneNumber}"></td>
        <td th:text="${patient.email}"></td>
        <td style="display: flex; align-items: center;">
            <a th:href="@{/auth-patients/{id}/details(id=${patient.id})}" class="btn">View</a>
            <a th:href="@{/auth-patients/{id}/edit(id=${patient.id})}" class="btn">Edit</a>
            <form th:action="@{/auth-patients/{id}/delete(id=${patient.id})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn delete-btn"
                        onclick="return confirm('Are you sure you want to delete this item?')">Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="buttons-switch">

    <a th:href="@{/auth-patients/create}" class="btn">New Patient</a>
    <a th:href="@{/auth-index}" class="btn" style="margin-left: 10px;">Back to homepage</a>
</div>

<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
