<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff List</title>
    <link rel="stylesheet" type="text/css" href="/css/staff-list.css">
</head>
<body>
<h1>Staff List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="staff : ${staffList}">
        <td th:text="${staff.id}"></td>
        <td th:text="${staff.firstName}"></td>
        <td th:text="${staff.lastName}"></td>
        <td th:text="${staff.jobTitle}"></td>
        <td style="display: flex; align-items: center;">
            <a th:href="@{/staff/{id}/details(id=${staff.id})}" class="btn">View</a>
            <a th:href="@{/staff/__${staff.id}__/edit}" class="btn">Edit</a>
            <form th:action="@{/staff/{id}/delete(id=${staff.id})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn delete-btn"
                        onclick="return confirm('Are you sure you want to delete this item?')">Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div style="display: flex; align-items: center; justify-content: center;">
    <a th:href="@{/staff/create}">Create Staff  </a>
</div>
</body>
</html>
