<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff List</title>
</head>
<body>
<h1>Staff List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="staff : ${staffList}">
        <td th:text="${staff.id}"></td>
        <td th:text="${staff.firstName}"></td>
        <td th:text="${staff.lastName}"></td>
        <td th:text="${staff.jobTitle}"></td>
        <td>
            <a th:href="@{/staff/__${staff.id}__}" th:text="View"></a> |
            <a th:href="@{/staff/__${staff.id}__}/edit" th:text="Edit"></a> |
            <form th:action="@{/staff/__${staff.id}__}" method="post" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/staff/create}">Create New Staff</a>
</body>
</html>
