<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment List</title>
    <link rel="stylesheet" type="text/css" href="/css/list.css">

</head>
<body>
<h1>Appointment List</h1>
<div class="buttons-switch">
    <a th:href="@{/auth-appointments/create}" class="btn">New Appointments</a>
    <a th:href="@{/doctor/index}" class="btn" style="margin-left: 10px;">Back to homepage</a>
</div>

<h2>Appointments</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Date and Time</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.patient.firstName}"></td>
        <td th:text="${appointment.dateTime}"></td>
        <td>
            <span th:text="${appointment.status.toString().toLowerCase().equals('in_progress')} ? 'In Progress' : ''"></span>
            <span th:text="${appointment.status.toString().toLowerCase().equals('scheduled')} ? 'Scheduled' : ''"></span>
            <span th:text="${appointment.status.toString().toLowerCase().equals('completed')} ? 'Completed' : ''"></span>
            <span th:text="${appointment.status.toString().toLowerCase().equals('cancelled')} ? 'Cancelled' : ''"></span>
        </td>
    </tr>
    </tbody>
</table>

<h2>Appointment Requests</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Date and Time</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${approvedRequests}">
        <td th:text="${request.id}"></td>
        <td th:text="${request.patient.firstName}"></td>
        <td th:text="${request.dateTime}"></td>
        <td th:text="${request.reason}"></td>
        <td th:text="${request.appointmentRequestApprovalStatus}"></td>
    </tr>
    </tbody>
</table>

<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>