<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Appointment Request</title>
    <!-- Add necessary CSS and JS files -->
</head>
<body>
<h1>Create Appointment Request</h1>

<form th:action="@{/appointment-request/{patientId}/create-request(patientId=${patient.id})}" method="post"
      th:object="${appointmentRequest}">
    <div>
        <label>Selected Doctor:</label>
        <input type="text" th:value="${doctor.firstName + ' ' + doctor.lastName}" readonly>
    </div>

    <div>
        <label>Date:</label>
        <input type="date" th:field="*{date}">
    </div>
    <div>
        <label>Time:</label>
        <input type="time" th:field="*{time}">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
