<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
</head>
<body>
<h1>Patient Details</h1>
<table>
    <tr>
        <td>First Name:</td>
        <td th:text="${patient.firstName}"></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td th:text="${patient.lastName}"></td>
    </tr>
    <tr>
        <td>Date of Birth:</td>
        <td th:text="${patient.dateOfBirth}"></td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td th:text="${patient.gender}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td th:text="${patient.address}"></td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td th:text="${patient.phoneNumber}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${patient.email}"></td>
    </tr>
</table>
<a th:href="@{/patient/list}">Back to List</a>
</body>
</html>
