<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Inventory Item</title>
    <link rel="stylesheet" type="text/css" href="/css/create-new.css">
</head>
<body>
<h1>Create Inventory Item</h1>
<form th:action="@{/inventory/save}" th:object="${inventory}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required/>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}"></textarea>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:field="*{price}" required/>
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" th:field="*{quantity}" required/>
    </div>
    <button type="submit">Save</button>
</form>
<div style="display: flex; align-items: center; justify-content: center;">
    <a th:href="@{/inventory/list}">Back to Inventory List</a>
</div>
<a href="javascript: document.logoutForm.submit()"  class="logout-button" role="menuitem">Logout</a>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
