<!DOCTYPE html>
<html>
<head>
    <title>My Cool Page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>
<div class="container">
    <header>
        <h1>WELCOME TO HOSPITAL MANAGEMENT TOOL</h1>
    </header>

    <nav>
        <ul>
            <li>
                <div class="dropdown">
                    <a href="/appointments/list">Appointments</a>
                    <div class="dropdown-content">
                        <a href="/appointments/create">Create Appointment</a>
                        <a href="/appointments/list">All Appointments</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/doctors/list">Doctor</a>
                    <div class="dropdown-content">
                        <a href="/doctors/create">Create Doctor</a>
                        <a href="/doctors/list">All doctors</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/patients/list">Patient</a>
                    <div class="dropdown-content">
                        <a href="/patients/create">Create Patient</a>
                        <a href="/patients/list">All Patients</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/medicalrecords/list">Medical Record</a>
                    <div class="dropdown-content">
                        <a href="/medicalrecords/create">Create Medical Record</a>
                        <a href="/medicalrecords/list">All Medical Records</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/billing/list">Billing</a>
                    <div class="dropdown-content">
                        <a href="/billing/create">Create Billing</a>
                        <a href="/billing/list">All Billings</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/staff/list">Staff</a>
                    <div class="dropdown-content">
                        <a href="/staff/create">Create Staff</a>
                        <a href="/staff/list">All Staffs</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/inventory/list">Inventory</a>
                    <div class="dropdown-content">
                        <a href="/inventory/create">Create Inventory</a>
                        <a href="/inventory/list">All Inventories</a>
                    </div>
                </div>
            </li>

        </ul>
    </nav>

    <section>
        <h1>What is this?</h1>
        <p>A hospital management tool for small-sized hospitals catering to requirements such as visitor management,
            admin tasks automation & tracking, finance & scheduling.
        </p>
    </section>
</div>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>