<!DOCTYPE html>
<html>
<head>
    <title>My Cool Page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="container">
    <header>
        <h1>WELCOME TO HOSPITAL MANAGEMENT TOOL</h1>
    </header>
    <nav>
        <ul>
            <li>
                <div class="dropdown">
                    <a href="/auth-appointments/list">Appointments</a>
                    <div class="dropdown-content">
                        <a href="/auth-appointments/create">Create Appointment</a>
                        <a href="/auth-appointments/list">All Appointments</a>
                        <a href="/auth-appointments/list-appointment-requests">All Appointments Requests</a>
                        <a href="/auth-doctorAppointments/allEvents">Doctors events calendar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/auth-doctors/list">Doctor</a>
                    <div class="dropdown-content">
                        <a href="/auth-doctors/create">Create Doctor</a>
                        <a href="/auth-doctors/list">All doctors</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/auth-patients/list">Patient</a>
                    <div class="dropdown-content">
                        <a href="/auth-patients/create">Create Patient</a>
                        <a href="/auth-patients/list">All Patients</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/auth-medicalrecords/list">Medical Record</a>
                    <div class="dropdown-content">
                        <a href="/auth-medicalrecords/create">Create Medical Record</a>
                        <a href="/auth-medicalrecords/list">All Medical Records</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/auth-billing/list">Billing</a>
                    <div class="dropdown-content">
                        <a href="/auth-billing/create">Create Billing</a>
                        <a href="/auth-billing/list">All Billings</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/auth-staff/list">Staff</a>
                    <div class="dropdown-content">
                        <a href="/auth-staff/create">Create Staff</a>
                        <a href="/auth-staff/list">All Staffs</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/auth-inventory/list">Inventory</a>
                    <div class="dropdown-content">
                        <a href="/auth-inventory/create">Create Inventory</a>
                        <a href="/auth-inventory/list">All Inventories</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <section>
        <h1>What is this?</h1>
        <p>A hospital management tool for small-sized hospitals catering to requirements such as visitor management,
            admin tasks automation & tracking, finance & scheduling.
        </p>
    </section>
</div>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>