<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Billing Details</title>
    <link rel="stylesheet" type="text/css" href="/css/details.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Billing Details</h1>
<table>
    <tr>
        <td>ID:</td>
        <td th:text="${bill.id}"></td>
    </tr>
    <tr>
        <td>Date of Bill:</td>
        <td th:text="${bill.dateOfBill}"></td>
    </tr>
    <tr>
        <td>Amount:</td>
        <td th:text="${bill.amount}"></td>
    </tr>
    <tr>
        <td>Patient:</td>
        <td th:text="${bill.patient.firstName}"></td>
    </tr>
    <tr>
        <td>Doctor:</td>
        <td th:text="${bill.doctor.firstName}"></td>
    </tr>
    <tr>
        <td>Appointment:</td>
        <td th:text="${bill.appointment.id}"></td>
    </tr>
    <tr>
        <td>Status:</td>
        <td th:text="${bill.status}"></td>
    </tr>
</table>

<div class="button-container">
    <a th:href="@{/auth-billing/{id}/edit(id=${bill.id})}" class="btn">Edit</a>
    <form th:action="@{/auth-billing/{id}/delete(id=${bill.id})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit" class="btn delete-btn"
                onclick="return confirm('Are you sure you want to delete this item?')">Delete
        </button>
    </form>
</div>

<div class="button-container">
    <a th:href="@{/auth-billing/list}" class="btn">Back to Billing List</a>
    <a th:href="@{/auth-index}" class="btn">Back to homepage</a>
</div>

<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
