body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #343a40;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: #343a40;
    color: white;
    font-weight: bold;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: #343a40;
}

.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    background-color: #f2f2f2;
    width: 100vw;
    background: #343a40;
    color: white;
}

.calendar-day {
    padding: 60px;
    min-height: 80px;
    display: grid;
    grid-template-rows: auto 1fr;
    background: #343a40;
    color: white;
    font-size: 20px;
    font-family: "Your Cool Font", sans-serif;
    }

.calendar-day .day-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-day:hover {
    background-color: #118ab2;
    cursor: pointer;
}

/* Rest of the CSS styles */

.button-container {
    display: flex;
    gap: 10px;
    /* Adjust the gap value as per your preference */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-previous {
    background-color: #3498db;
}

.btn-next {
    background-color: #2ecc71;
}

.btn:hover {
    background-color: #555;
}
