body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #f5f5f5;
}

.appointment {
    background-color: #023047;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    color: #fefae0;
}

.appointment p {
    margin: 0;
    color: #fefae0;
}

.appointment p:first-child {
    font-weight: bold;
}

.appointment p:last-child {
    margin-top: 5px;
    color: #fefae0;
}


h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    margin: 0;
}


.center-container {
    text-align: center;
}
.center-container a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}

.center-container a:hover {
    background-color: #ccc;
}

/* Remove blue underline from links */
.center-container a {
    text-decoration: none;
}

.center-container a:hover {
    text-decoration: none;
}
