body {
     font-family: Arial, sans-serif;
     background-color: #f1f1f1;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0rem 0;
}

 table {
     border-collapse: collapse;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     background-color: #fff;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 th, td {
     text-align: center;
     padding: 1rem;
     border: 1px solid #ddd;
}
 th {
     background-color: #f2f2f2;
     font-weight: bold;
}
 td:first-child, th:first-child {
     width: 5%;
}
 td:nth-child(2), th:nth-child(2) {
     width: 20%;
}
 td:nth-child(3), th:nth-child(3) {
     width: 20%;
}
 td:nth-child(4), th:nth-child(4) {
     width: 25%;
}
 td:nth-child(5), th:nth-child(5) {
     width: 15%;
}
 td:last-child, th:last-child {
     text-align: center;
}
 .btn {
     display: inline-block;
     padding: 8px 12px;
     margin-right: 10px;
     border: none;
     background-color: #4CAF50;
     color: white;
     text-decoration: none;
     font-size: 14px;
     border-radius: 4px;
     margin-left: 10px;
}
 .btn:hover {
     background-color: #0069d9;
}
 .delete-btn {
     background-color: #dc3545;
}
 .delete-btn:hover {
     background-color: #c82333;
}
 a {
     display: inline-block;
     padding: 0.5rem 1rem;
     border-radius: 0.25rem;
     text-align: center;
     text-decoration: none;
     color: #fff;
     background-color: #28a745;
     transition: all 0.3s ease-in-out;
     margin: 2rem 0;
}
 a:hover {
     background-color: #218838;
}
 .logout-button {
     position: fixed;
     top: 10px;
     right: 10px;
     z-index: 9999;
}
 .buttons-switch {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0rem 0; /* Change the margin value to 1rem */
 }
        .appointment-request-row {
            display: none;
        }

        .filter-section {
            margin-bottom: 20px;
        }

        .filter-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .filter-toggle label {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #555;
        }

        .filter-toggle input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 15px;
            position: relative;
            outline: none;
            border-radius: 15px;
            background-color: #ccc;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .filter-toggle input[type="checkbox"]:before {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            top: -1px;
            left: -1px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s;
        }

        .filter-toggle input:checked[type="checkbox"] {
            background-color: #4CAF50;
        }

        .filter-toggle input:checked[type="checkbox"]:before {
            transform: translateX(15px);
        }

        .filter-toggle label span {
            margin-left: 10px;
        }
