body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

span {
    font-weight: bold;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

a.button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
}

a.button:hover {
    background-color: #0056b3;
}
