<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Events</title>
    <link rel="stylesheet" type="text/css" href="/css/all-doctors-appointments.css">
</head>
<body>
<h1>All Events</h1>
<div class="center-container">
    <h3>Current Month: <span th:text="${monthYear}"></span></h3>
    <a th:href="@{/auth-doctorAppointments/allEvents(year=${previousYear}, month=${previousMonth})}">Previous Month</a>
    <a th:href="@{/auth-doctorAppointments/allEvents(year=${nextYear}, month=${nextMonth})}">Next Month</a>
</div>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Reason for Visit</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${appointmentsByDate}">
        <td th:text="${entry.key}"></td>
        <td>
            <table>
                <tr th:each="appointment, iterStat : ${entry.value}" th:if="${iterStat.index} &lt; 2">
                    <td th:text="${appointment.doctor.firstName} + ' ' + ${appointment.doctor.lastName}"></td>
                    <td th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></td>
                    <td th:text="${appointment.notes}"></td>
                </tr>
                <tr th:if="${entry.value.size() > 2}">
                    <td colspan="4">
                        <a href="#" th:data-date="${entry.key}" onclick="showMoreAppointments(this); return false;">See
                            more</a>

                        <table class="hidden">
                            <tr th:each="additionalAppointment, iterStat : ${entry.value}" th:if="${iterStat.index} &gt;= 2">
                                <td th:text="${additionalAppointment.doctor.firstName} + ' ' + ${additionalAppointment.doctor.lastName}"></td>
                                <td th:text="${additionalAppointment.patient.firstName} + ' ' + ${additionalAppointment.patient.lastName}"></td>
                                <td th:text="${additionalAppointment.notes}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<div class="buttons-switch">
    <a th:href="@{/auth-index}" class="btn">Back to homepage</a>
</div>

<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

<script type="text/javascript" th:src="@{/js/allAppointments.js}"></script>
</body>
</html>
