<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Appointments</title>
    <link rel="stylesheet" type="text/css" href="/css/appointment-calendar.css">
</head>
<body>
<h1>Doctor Appointments</h1>
<h2 th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></h2>
<div class="center-container">
    <h3>Current Month: <span th:text="${monthYear}"></span></h3>
    <a th:href="@{/doctor/{doctorId}/appointments(doctorId=${doctorId},year=${previousYear}, month=${previousMonth})}">Previous
        Month</a>
    <a th:href="@{/doctor/{doctorId}/appointments(doctorId=${doctorId}, year=${nextYear}, month=${nextMonth})}">Next
        Month</a>
</div>
<div th:each="entry : ${groupedAppointments}">
    <h3 th:text="${entry.key}"></h3>
    <ul>
        <li th:each="appointment, stat : ${entry.value}" th:class="${stat.index < 2} ? '' : 'hidden'">
            <div th:if="${appointment.notes}">
                <p th:text="${appointment.notes}"></p>
            </div>
        </li>
    </ul>
    <div th:if="${entry.value.size() > 2}">
        <button class="toggle-button">See More</button>
        <ul class="hidden">
            <li th:each="appointment, stat : ${entry.value}" th:class="${stat.index >= 2} ? '' : 'hidden'">
                <div th:if="${appointment.notes}">
                    <p th:text="${appointment.notes}"></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Display Approved Appointments -->
<div>
    <h3>Approved Appointments</h3>
    <ul>
        <li th:each="appointment : ${approvedAppointments}">
            <div>
                <p>Appointment ID: <span th:text="${appointment.id}"></span></p>
                <p>Patient Name: <span th:text="${appointment.patient.firstName}"></span></p>
                <p>Appointment Date/Time: <span th:text="${appointment.dateTime}"></span></p>
            </div>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/doctorAppointments.js}"></script>
</body>
</html>
