<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Appointments</title>
    <link rel="stylesheet" type="text/css" href="/css/appointment-calendar.css">
</head>
<body>
<h1>Doctor Appointments</h1>
<h2 th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></h2>

<div th:each="entry : ${groupedAppointments}">
    <h3 th:text="${entry.key}"></h3>
    <ul>
        <li th:each="appointment, stat : ${entry.value}" th:class="${stat.index < 2} ? '' : 'hidden'">
            <div th:if="${appointment.notes}">
                <p th:text="${appointment.notes}"></p>
            </div>
        </li>
    </ul>
    <div th:if="${entry.value.size() > 2}">
        <button class="toggle-button">See More</button>
        <ul class="hidden">
            <li th:each="appointment, stat : ${entry.value}" th:class="${stat.index >= 2} ? '' : 'hidden'">
                <div th:if="${appointment.notes}">
                    <p th:text="${appointment.notes}"></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/doctorAppointments.js}"></script>
</body>
</html>
