<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Appointment Calendar</title>
    <link rel="stylesheet" type="text/css" href="/css/appointment-calendar.css">
</head>
<body>
<h1>Doctor Appointment Calendar</h1>
<h2>Doctor ID: <span th:text="${doctorId}"></span></h2>

<div class="calendar">
    <div class="month-navigation">
        <a th:href="@{/doctorAppointments/doctor-appointment-calendar/{doctorId}(doctorId=${doctorId}, year=${previousYear}, month=${previousMonth})}">Previous Month</a>
        <a th:href="@{/doctorAppointments/doctor-appointment-calendar/{doctorId}(doctorId=${doctorId}, year=${nextYear}, month=${nextMonth})}">Next Month</a>
    </div>

    <div class="day-header">
        <span>Sun</span>
        <span>Mon</span>
        <span>Tue</span>
        <span>Wed</span>
        <span>Thu</span>
        <span>Fri</span>
        <span>Sat</span>
    </div>

    <div class="day" th:each="day : ${calendarDays}">
        <h4 th:text="${#temporals.format(day, 'd')}"></h4>
        <div th:each="appointment : ${appointments}">
            <div class="appointment"
                 th:if="${#temporals.format(appointment.dateTime.toLocalDate(), 'd') == #temporals.format(day, 'd')}">
                <p th:text="${#temporals.format(appointment.dateTime, 'HH:mm')}"></p>
                <p th:text="${appointment.reasonForVisit}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
