<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Medical Record</title>
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
</head>
<body>
<h1>Edit Medical Record</h1>

<form th:action="@{/medicalrecords/{id}/update(id=${medicalRecord.id})}" th:object="${medicalRecord}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Patient: <input type="text" th:field="*{patient}"/></p>
    <p>Doctor: <input type="text" th:field="*{doctor}"/></p>
    <p>Appointment: <input type="text" th:field="*{appointment}"/></p>
    <p>Medical History: <input type="text" th:field="*{medicalHistory}"/></p>
    <p>Diagnosis: <input type="text" th:field="*{diagnosis}"/></p>
    <p>Prescription: <input type="text" th:field="*{prescription}"/></p>
    <p>Notes: <input type="text" th:field="*{notes}"/></p>
    <button type="submit">Save</button>
</form>
<div class="button-container">
    <a th:href="@{/medicalrecords/list}" class="btn">Back to Medical Record List</a>
    <a th:href="@{/index}" class="btn">Back to homepage</a>
</div>
<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
