<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment Requests</title>
    <link rel="stylesheet" type="text/css" href="/css/appointment-requests.css">
</head>
<body>
<h1>Appointment Requests</h1>
<table>
    <tr>
        <th>Request ID</th>
        <th>Patient</th>
        <th>Date and Time</th>
        <th>Approval Status</th>
        <th>Actions</th>
    </tr>
    <tr th:each="appointmentRequest : ${appointmentRequests}">
        <td th:text="${appointmentRequest.id}"></td>
        <td th:text="${appointmentRequest.patient.firstName} + ' ' + ${appointmentRequest.patient.lastName}"></td>
        <td th:text="${appointmentRequest.dateTime}"></td>
        <td th:text="${appointmentRequest.appointmentRequestApprovalStatus}"></td>
        <td>
            <div class="button-group">
                <form th:action="@{/doctor/{doctorId}/requests/{requestId}/approve(doctorId=${doctor.id}, requestId=${appointmentRequest.id})}"
                      method="post">
                    <button type="submit" class="approve-button">Approve</button>
                </form>
                <form th:action="@{/doctor/{doctorId}/requests/{requestId}/reject(doctorId=${doctor.id}, requestId=${appointmentRequest.id})}"
                      method="post">
                    <button type="submit" class="reject-button">Reject</button>
                </form>
            </div>
        </td>
    </tr>
</table>
<div class="buttons-switch">
    <a th:href="@{/doctor/index}" class="btn">Back to homepage</a>
</div>
</body>
</html>