<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors List</title>
    <link rel="stylesheet" type="text/css" href="/css/list.css">
</head>
<body>
<h1>Doctors List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Specialty</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.firstName}"></td>
        <td th:text="${doctor.lastName}"></td>
        <td th:text="${doctor.dateOfBirth}"></td>
        <td th:text="${doctor.gender}"></td>
        <td th:text="${doctor.address}"></td>
        <td th:text="${doctor.phoneNumber}"></td>
        <td th:text="${doctor.email}"></td>
        <td th:text="${doctor.specialty}"></td>
        <td style="display: flex; align-items: center;">
            <a th:href="@{/doctors/{id}/details(id=${doctor.id})}" class="btn">View</a>
            <a th:href="@{/doctors/__${doctor.id}__/edit}" class="btn">Edit</a>
            <form th:action="@{/doctors/{id}/delete(id=${doctor.id})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn delete-btn"
                        onclick="return confirm('Are you sure you want to delete this item?')">Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div style="display: flex; align-items: center; justify-content: center;">
    <a th:href="@{/doctors/create}">Create New Doctor</a>
</div>
<a href="javascript: document.logoutForm.submit()"  class="logout-button" role="menuitem">Logout</a>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
