<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment Requests</title>
    <link rel="stylesheet" type="text/css" href="/css/list.css">

</head>
<body>
<h1>Appointment Requests</h1>
<table>
    <thead>
    <tr>
        <th>Request ID</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date and Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${appointmentRequests}">
        <td th:text="${request.id}"></td>
        <td th:text="${request.patient.firstName}"></td>
        <td th:text="${request.doctor.firstName}"></td>
        <td th:text="${request.dateTime}"></td>
        <td th:text="${request.appointmentRequestApprovalStatus}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
