<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Approved Appointments</title>
</head>
<body>
<h1>Approved Appointments</h1>
<table>
  <thead>
  <tr>
    <th>Appointment ID</th>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Date and Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${appointment.patient.firstName}"></td>
    <td th:text="${appointment.doctor.firstName}"></td>
    <td th:text="${appointment.dateTime}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
