<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Appointment</title>
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
</head>
<body>
<h1>Edit Appointment</h1>
<form th:object="${appointment}" th:action="@{/appointments/{id}/update(id=${appointment.id})}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="patient">Patient:</label>
        <select th:field="*{patient.id}" id="patient">
            <option value="">Select a patient...</option>
            <option th:each="patient : ${patients}"
                    th:value="${patient.id}"
                    th:text="${patient.firstName} + ' ' + ${patient.lastName}"
                    th:selected="${patient.id == appointment.patient.id}">
            </option>
        </select>
    </div>
    <div>
        <label for="doctor">Doctor:</label>
        <select th:field="*{doctor.id}" id="doctor">
            <option value="">Select a doctor...</option>
            <option th:each="doctor : ${doctors}"
                    th:value="${doctor.id}"
                    th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"
                    th:selected="${doctor.id == appointment.doctor.id}">
            </option>
        </select>
    </div>
    <div>
        <label for="staff">Staff:</label>
        <select th:field="*{staff.id}" id="staff">
            <option value="">Select a staff...</option>
            <option th:each="staff : ${staff}"
                    th:value="${staff.id}"
                    th:text="${staff.firstName} + ' ' + ${staff.lastName}"
                    th:selected="${staff.id == appointment.staff.id}">
            </option>
        </select>
    </div>
    <div>
        <label for="dateTime">Date and Time:</label>
        <input type="datetime-local" id="dateTime" name="dateTime" th:field="*{dateTime}" required>
    </div>
    <div>
        <label for="reasonForVisit">Reason for Visit:</label>
        <input type="text" id="reasonForVisit" name="reasonForVisit" th:field="*{reasonForVisit}" required>
    </div>
    <div>
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" th:field="*{notes}" required></textarea>
    </div>
    <div>
        <label for="status">Status:</label>
        <select id="status" name="status" required th:field="*{status}">
            <option value="Scheduled">Scheduled</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>
    <button type="submit">Save</button>
</form>
<div style="display: flex; align-items: center; justify-content: center;">
    <a th:href="@{/appointments/list}">Back to Appointment list</a>
    <a th:href="@{/index}">Back to homepage</a>

</div>
<a href="javascript: document.logoutForm.submit()" class="logout-button" role="menuitem">Logout</a>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>
