<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment List</title>
    <link rel="stylesheet" type="text/css" href="/css/appointment-list.css">

</head>
<body>
<h1>Appointment List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date and Time</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.patient != null ? appointment.patient.firstName : ''}"></td>
        <td th:text="${appointment.doctor != null ? appointment.doctor.firstName : ''}"></td>
        <td th:text="${appointment.dateTime}"></td>
        <td th:text="${appointment.status}"></td>
        <td style="display: flex; align-items: center;">
            <a th:href="@{/appointments/{id}/details(id=${appointment.id})}" class="btn">View</a>
            <a th:href="@{/appointments/{id}/edit(id=${appointment.id})}" class="btn">Edit</a>
            <form th:action="@{/appointments/{id}/delete(id=${appointment.id})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn delete-btn"
                        onclick="return confirm('Are you sure you want to delete this item?')">Delete
                </button>
            </form>
        </td>


    </tr>
    </tbody>
</table>
<a th:href="@{/appointments/create}">New Appointment</a>
</body>
</html>
